// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.bg-main{
    height: 400px;
    background-image: url("../img/home-lg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
